<form method="get" action="/api/question/{{id}}">
  <label>{{content}}</label>
  <input type="button" value="YES" onclick=function(){
    redirect('/question/1');
  }>
  <input type="button" value="NO" onclick=function(){
    redirect('/question/1');
  }>
</form>
